In [11]:
#!pip install pyspark

Requirement already satisfied: pyspark in /Users/an/anaconda3/lib/python3.11/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /Users/an/anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [12]:
import pyspark

In [13]:
import pandas as pd
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [18]:
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [20]:
# spark.conf.set("spark.some.config.option", "new_value")

spark